body {
    font-family: Arial, sans-serif;
    margin: 10;
    padding: 10;
    background-color: #f4f4f4;
}

header {
    background: #cde0eb;
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;

  
}

#main-content {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.column {
    background: rgba(252, 252, 252, 0.984);
    padding: 20px;
    margin: 10px;
    flex: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 10px;
    background: #7c7a7a;
    color: rgb(8, 8, 8);
    position: relative;
    bottom: 0;
    width: 100%;
}
